<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>
      Qiita記事 詳細
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="masters" no-padding>
  <ng-container *ngIf="!isLoading; else hideContent2">
    <ng-container *ngIf="!notFound; else hideContent">
      <ion-card class="card-item-page">
        <h1 class="item-title">タイトル: {{ qiitaItem.title }}</h1>
        <ion-item>
          <p class="item-date"><ion-icon name="calendar"></ion-icon>{{ qiitaItem.created_at | date:"yyyy/MM/dd HH:mm" }}</p>
        </ion-item>

        <ion-row class="card-row">
          <ion-col>
            <div><ion-icon name="heart"></ion-icon>{{ qiitaItem.likes_count }}いいね！</div>
          </ion-col>
        </ion-row>

          <p>内容: {{ qiitaItem.body }}</p>
      </ion-card>
    </ng-container>

    <ng-template #hideContent>
      <h1>ページが見つかりません</h1>
    </ng-template>

  </ng-container>

  <ng-template #hideContent2>
    loading...
  </ng-template>

</ion-content>


