.masters {background-color: #F9F9F9;}
[text-color="qiita-color"] { color: #5FBF3C; }
.card-item-page {
  .item-date { font-size: 0.8em;position: relative;text-align: left; }
  .item-title { font-size: 1.3em;width: 100%;font-weight: bold; }
  .card-row { font-size: 1.0em;width: 100%;color: #5FBF3C;text-align: center; }
}
