<ion-header>
  <ion-toolbar>
    <ion-title>
      Qiita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="masters" no-padding>
  <!--<ion-button (click)="getArticle()">取得</ion-button>-->

  <!-- Default Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!--<div class="row" *ngIf="qiitaItems?.length === 0">-->
  <!--<ion-card>-->
  <!--<ion-card-header text-center>-->
  <!--<ion-icon name="sad"></ion-icon>-->
  <!--</ion-card-header>-->
  <!--<ion-card-content text-center>-->
  <!--一致する記事は、見つかりませんでした。-->
  <!--</ion-card-content>-->
  <!--</ion-card>-->
  <!--</div>-->

  <ion-card class="card-item-page" *ngFor="let qiitaItem of qiitaItems">
    <ion-item>
      <p class="item-date"><ion-icon name="calendar"></ion-icon> {{ qiitaItem.created_at | date:"yyyy/MM/dd HH:mm" }} </p>
      <ion-avatar>
        <!--<img src="{{ qiitaItem.user.profile_image_url }}">-->
      </ion-avatar>
    </ion-item>

    <ion-card-content>
      <h2 class="item-title">タイトル: {{ qiitaItem.title }}</h2>
      <p class="item-tags">タグ一覧: {{ getTagList(qiitaItem.tags) }}</p>
    </ion-card-content>

    <ion-row class="card-row">
      <ion-col>
        <div><ion-icon name="heart"></ion-icon>{{ qiitaItem.likes_count }}</div>
      </ion-col>
      <ion-col>
        <div><ion-icon name="chatboxes"></ion-icon>{{ qiitaItem.comments_count }}</div>
      </ion-col>
    </ion-row>
  </ion-card>

  <!--<div class="row" *ngIf="isError === true">-->
  <!--<ion-card>-->
  <!--<ion-card-header text-center>-->
  <!--<ion-icon name="warning" color="warning"></ion-icon>-->
  <!--</ion-card-header>-->
  <!--<ion-card-content text-center>-->
  <!--{{ errerMessage }}-->
  <!--</ion-card-content>-->
  <!--</ion-card>-->
  <!--</div>-->

</ion-content>